@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.section-outer {
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-inner--wide {
  max-width: 1200px;
}

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  background-color: #5E81FE;
  border-radius: 100%;
  
}

.nav {
  margin-left: 72px;
}

.nav-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 40px;
}
.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #697ca6;
  text-decoration: none;
  transition: 0.2s;
}
.nav-wrapper__item-link:hover {
  color: #5e81fe;
}
.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #5e81fe;
}

.socials {

}

.socials-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

}
.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 40px;
}
.socials-wrapper__item path {
  fill: #B6BAC7;
}
.socials-wrapper__item-link:hover {
  color: #5e81fe;
}

.section-hero-image {
  background-color: #f4f7ff;
}

.section-customers .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-plan-and-manage {
  background-color: #F5F8FF;
}

.section-stats {
  background-color: #E9EFFF;
}
.section-stats .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-quotes {
  background-color: #eaf0ff;
}

.section-get-started {
  background-color: #6888ff;
}

.section-newsletter {
  background-color: #fcfdff;
}

.section-footer {
  border-bottom: 0;
}
.section-footer .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}